.App {
  text-align: center;  
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

::selection {
  background-color: #eb4888;
  color: #000;
}

@media (max-width: 600px) {
  .App {
    margin: 25px auto;
  }
}

.header {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.about-me {
  text-align: left;
}

.about-me ol {
  list-style-type: none;
  padding: 0;
  font-style: italic;
  font-size: calc(2px + 2vmin);
}

@media (max-width: 600px) {
  .about-me h2 {
    text-align: center;
  }

  .about-me ol {
    font-size: calc(10px + 2vmin);
  }
}

.about-me li {
  margin-bottom: 15px;
}

.about-emoji {
  padding-right: 10px;
}

.img-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin-right: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.img-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

@media (max-width: 600px) {
  .img-container {
    width: 300px;
    height: 300px;
    margin-right: 0;
  }
}

.subtitle {
  font-style: italic;
}

.links {
  margin-bottom: 25px;
}

.links a:not(:last-child) {
  padding: 0 25px 0 0;
}

@media (max-width: 600px) {
  .links {
    text-align: center;
  }

  .links a:not(:last-child) {
    padding: 0 10px 0 0;
  }
}

.more {
  max-width: 650px;
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0 20px 20px 20px;
}

.more a {
  color: #eb4888;
}

.fun-facts {
  font-size: 1.2rem;
  max-width: 650px;
  text-align: left;
  margin: 0 40px 0 40px;
  max-width: 550px;
}

.fun-facts h3 {
  font-size: calc(10px + 2vmin);
  color: #10a2f5;
}

.fun-facts ol {
  list-style-type: none;
  padding: 0;
}

.fun-facts li {
  margin-bottom: 10px;
}

.fun-facts .amp {
  color: #24d05a;
}

.fun-facts .twitter {
  color: #e9bc3f;
}